.app-layout {
  display: flex;
  height: 100vh; /* Full height */
}

.sidebar {
  width: 400px;
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 400px; /* Increase size */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px;
}

.logout-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #e74c3c;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
}

.logout-button:hover {
  background-color: #c0392b;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.burrows-box {
  width: 100%;
  background: #34495e;
  color: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
  text-align: center;
}

.burrows-box h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.burrows-box button {
  width: 100%;
  padding: 8px;
  border: none;
  background: #2980b9;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
}

.burrows-box button:hover {
  background: #1f6691;
}

.burrows-box button {
  width: 100%;
  padding: 8px;
  border: none;
  background: #2980b9;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.burrows-box button:hover {
  background: #1f6691;
}

.empty-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.back-button {
  padding: 10px 15px;
  background: #2980b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
}

.back-button:hover {
  background: #1f6691;
}
